In [1]:
import pandas as pd

In [2]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [3]:
weather_hist.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [4]:
print('Самый жаркий день в Сегеде был', 
      weather_hist.loc[weather_hist['Temperature (C)'].idxmin()]['Formatted Date'], '.',
      'Температура составила', weather_hist['Temperature (C)'].min(), 'градусов.')

Самый жаркий день в Сегеде был 2012-02-10 07:00:00.000 +0100 . Температура составила -21.822222222222226 градусов.

In [5]:
print('Самый ветреный день в Сегеде был', 
      weather_hist.loc[weather_hist['Wind Speed (km/h)'].idxmax()]['Formatted Date'], '.',
      'Скорость ветра составила', weather_hist['Wind Speed (km/h)'].max(), 'км/ч.')

Самый ветреный день в Сегеде был 2007-01-29 13:00:00.000 +0100 . Скорость ветра составила 63.8526 км/ч.

In [6]:
weather_hist['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [7]:
weather_hist['Formatted Date'] = pd.to_datetime(weather_hist['Formatted Date']).apply(lambda x: x.date())

In [8]:
weather_hist.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [9]:
weather_hist['year'] = pd.DatetimeIndex(weather_hist['Formatted Date']).year

In [10]:
weather_hist['month'] = pd.DatetimeIndex(weather_hist['Formatted Date']).month

In [11]:
rains_year = weather_hist.loc[weather_hist['year'] == 2014]

In [12]:
rains_june = rains_year.loc[rains_year['month'] == 6]

In [13]:
rains_july = rains_year.loc[rains_year['month'] == 7]

In [14]:
rains_aug = rains_year.loc[rains_year['month'] == 8]

In [15]:
rains_june['Precip Type'].value_counts()

rain    720
Name: Precip Type, dtype: int64

In [16]:
rains_july['Precip Type'].value_counts()

rain    741
Name: Precip Type, dtype: int64

In [17]:
rains_aug['Precip Type'].value_counts()

rain    744
Name: Precip Type, dtype: int64

Дождь шел 2205 раз.

In [18]:
weather_hist['Formatted Date'] = pd.to_datetime(weather_hist['Formatted Date'])

In [19]:
weather_hist['week'] = weather_hist['Formatted Date'].dt.week

In [20]:
weather_hist.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,year,month,week
0,2006-04-01,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,2006,4,13
1,2006-04-01,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,2006,4,13
2,2006-04-01,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,2006,4,13
3,2006-04-01,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,2006,4,13
4,2006-04-01,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2006,4,13

In [21]:
weather_hist.groupby('month').agg(['mean'])

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),year,week
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
month,,,,,,,,,,
1,0.813890,-1.939615,0.850723,11.512816,180.405425,7.830584,0.0,1006.125792,2011.000000,4.255132
2,2.159699,-0.565343,0.813400,12.185543,188.717176,8.731368,0.0,1003.929313,2011.009646,6.948553
3,6.906599,5.074268,0.702966,13.405461,186.538480,10.910450,0.0,1001.551536,2011.000000,11.180105
4,12.756417,12.141164,0.641133,11.893094,186.653157,11.784224,0.0,1009.996332,2011.000000,15.539394
5,16.873692,16.732751,0.691325,10.959337,188.071237,11.892754,0.0,1003.499530,2011.000000,19.894428
6,20.715617,20.742264,0.686470,9.626471,202.780808,11.990266,0.0,1001.883742,2011.000000,24.254545
7,22.963943,22.976086,0.639657,9.639907,202.812248,12.187820,0.0,1008.566431,2010.998900,28.609828
8,22.345031,22.270497,0.635542,8.933431,195.329800,12.455549,0.0,1001.716944,2010.997076,33.032164
9,17.516790,17.404283,0.688790,9.621813,187.667424,11.602874,0.0,1000.565347,2011.000000,37.396970
10,11.342247,10.694346,0.774554,10.000153,176.912630,9.741691,0.0,1003.243458,2011.000000,41.755339
11,6.589907,5.023180,0.827828,10.944266,173.139015,8.191229,0.0,1012.297027,2011.000000,46.109091
12,1.633742,-0.951272,0.870390,11.098682,181.191838,6.773288,0.0,985.901753,2011.000000,48.944282

Самый ветреный месяц — март.

In [22]:
weather_hist.groupby('year').agg(['mean'])

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),month,week
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
year,,,,,,,,,,
2006,11.215365,10.158215,0.767341,10.189852,189.342808,9.758083,0.0,992.543529,6.526826,26.573402
2007,12.135239,11.063135,0.689652,10.825392,194.119292,10.408191,0.0,1001.640226,6.526826,26.433676
2008,12.161876,11.053184,0.701237,11.303897,193.825250,10.267119,0.0,1007.734504,6.514458,26.364071
2009,12.267910,11.069337,0.707247,11.505948,180.496461,10.001370,0.0,1002.608735,6.526826,27.003425
2010,11.202061,10.098643,0.796858,11.015628,192.067509,9.140810,0.0,1004.811891,6.530852,26.593693
2011,11.524453,10.584294,0.736017,9.898262,189.342352,9.507929,0.0,1014.184075,6.526826,26.573402
2012,11.986726,10.753081,0.689500,11.264545,187.755692,10.363108,0.0,999.341481,6.514458,26.503529
2013,11.940719,10.825320,0.754209,10.969389,187.861758,10.892049,0.0,1004.950764,6.526826,26.433562
2014,12.529737,11.628703,0.748578,10.502473,178.226219,11.320806,0.0,987.394676,6.526664,26.432682
2015,12.311370,11.340911,0.732355,10.735247,184.098174,10.912786,0.0,1005.179401,6.526826,27.003425
2016,11.985292,10.832629,0.760874,10.703441,185.438069,11.249668,0.0,1015.162161,6.514458,26.651070

Самый влажный год — 2010.

In [28]:
weather_hist.groupby('week').agg(['std']).sum(axis=1)

week
1     373.134072
2     216.874780
3     183.323198
4     180.681262
5     255.598678
6     239.128517
7     284.752136
8     178.996120
9     229.126584
10    252.743144
11    260.614870
12    283.551537
13    237.864033
14    180.380829
15    225.626202
16    147.947384
17    197.862959
18    299.371211
19    222.174034
20    167.244033
21    202.830581
22    224.793651
23    165.611173
24    263.028893
25    302.813697
26    212.368362
27    189.855677
28    237.373284
29    237.256375
30    159.728008
31    212.570517
32    256.414170
33    198.737021
34    259.438672
35    314.429380
36    242.513153
37    306.234064
38    300.125495
39    167.724177
40    255.957662
41    250.534019
42    199.729510
43    241.774355
44    307.100338
45    163.886946
46    152.245461
47    217.408342
48    179.105680
49    206.314276
50    249.376556
51    339.468803
52    353.421932
53    152.480160
dtype: float64

Первая неделя самая переменчивая с точки зрения погоды.